<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.ocean.orcl">
    <!-- <permission -->
    <!-- android:name="info.android.permission.MAPS_RECEIVE" -->
    <!-- android:protectionLevel="signature" /> -->
    <uses-permission android:name="info.android.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.SEND_SMS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".login.RegistrationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".Chalan_Report_Details_Activity" />
        <activity android:name=".Chalan_Report_Summary_Activity" />
        <activity android:name=".Sales_Report_Details_Activity" />
        <activity android:name=".Sales_Report_Summary_Activity" />
        <activity android:name=".Expiory_List" />
        <activity android:name=".Party_Due_Statement_Activity" />
        <activity android:name=".ACC_View_Voucher" />
        <activity android:name=".Sales_Chalan_Activity" />
        <activity android:name=".Bill_Invoice_Activity" />
        <activity android:name=".CurrentStock_Activity" />
        <activity android:name=".MyAttendence_DetailsUpdate_Activity" />
        <activity android:name=".MyAttendence_Details_Activity" />
        <activity android:name=".Test_Activity" />
        <activity android:name=".EmpInfo_detiles_Activity" />
        <activity android:name=".BloodBank_datiles_Activity" />
        <activity android:name=".Blood_Bank_Activity" />
        <activity android:name=".Emp_info_Activity" />
        <activity android:name=".AttendenceLog_Details_ativity" /> <!-- android:theme="@style/Theme.AppCompat.Dialog.Alert" -->
        <activity android:name=".MyAttencence_Activity" />
        <activity android:name=".MyTeamsAttendence_Activity" /> <!-- android:theme="@style/Theme.AppCompat.Light.DarkActionBar" -->
        <activity android:name=".AttendenceLog_Activity" />
        <activity android:name=".MiscActivity" />
        <activity android:name=".AccActivity" />
        <activity android:name=".INVActivity" />
        <activity android:name=".HRMActivity" />
        <activity android:name=".MenuActivity" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden">
<!--            <intent-filter>-->
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
<!--            </intent-filter>-->
        </activity>
    </application>

</manifest>